<!-- views/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bucket Ball App</title>
</head>
<body>
  <h1>Bucket Ball App</h1>

  <form action="/addBucket" method="post">
    <label for="bucketName">Bucket Name:</label>
    <input type="text" name="bucketName" required>
    <label for="bucketValue">Value:</label>
    <input type="number" name="bucketValue" required>
    <button type="submit">Add Bucket</button>
  </form>

  <form action="/addBall" method="post">
    <label for="ballName">Ball Name:</label>
    <input type="text" name="ballName" required>
    <label for="ballValue">Value:</label>
    <input type="number" name="ballValue" required>
    <label for="bucketId">Bucket:</label>
    <input type="text" name="bucketId" required>
    <button type="submit">Add Ball</button>
  </form>

  <h2>Details</h2>
  <a href="/details">Show Details</a>
</body>
</html>
