<!-- views/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bucket Ball App</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }

    h1 {
      color: #333;
    }

    form {
      max-width: 400px;
      margin: 20px auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    label {
      display: block;
      margin-bottom: 8px;
    }

    input {
      width: 100%;
      padding: 8px;
      margin-bottom: 16px;
      box-sizing: border-box;
    }

    button {
      background-color: #4caf50;
      color: #fff;
      padding: 10px 15px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    button:hover {
      background-color: #45a049;
    }

    h2 {
      margin-top: 40px;
      color: #333;
    }

    a {
      display: block;
      margin-top: 10px;
      text-decoration: none;
      color: #007BFF;
    }

    a:hover {
      text-decoration: underline;
    }
    .dropdown{
      width: 100%;
      padding: 10px;
      margin-bottom: 12px;
    }
    .dropdown option{
      padding: 4px;
    }
  </style>
</head>
<body>
  <h1>Bucket Ball App</h1>

  <form action="http://localhost:3001/addBucket" method="post">
    <label for="bucketName">Bucket Name:</label>
    <input type="text" name="bucketName" required>
    <label for="bucketValue">Value:</label>
    <input type="number" name="bucketValue" required>
    <button type="submit">Add Bucket</button>
  </form>

  <form action="/addBall" method="post">
    <label for="ballName">Ball Name:</label>
    <input type="text" name="ballName" required>
    <label for="ballValue">Value:</label>
    <input type="number" name="ballValue" required>
    <!-- <label for="bucketId">Bucket:</label>
    <input type="text" name="bucketId" required> -->
    <button type="submit">Add Ball</button>
  </form>

  <form action="/getBucket" method="get">
    <!-- <label for="ballName">Ball Name:</label>
    <input type="text" name="ballName" required> -->
    <label for="bucketId">Select Bucket:</label>
    <select name="bucketId" id = "bucketId" required class="dropdown">
      <option value="">None</option>
      <option value="bucket1">Bucket 1</option>
      <option value="bucket2">Bucket 2</option>
    </select>



    <label for="ballValue">Select Balls:</label>
    <select name="bucketId" id = "bucketId2" required class="dropdown">
      <option value="">None</option>
      <option value="bucket1">Bucket 1</option>
      <!-- <option value="bucket2">Bucket 2</option> -->
    </select>
    <button type="submit">Add Ball</button>
    
  </form>

  <h2>Details</h2>
  <a href="/details">Show Details</a>
</body>
</html>


<script>
  document.getElementById('bucketId').addEventListener("change",
     async function (){
          const response = await fetch("http://localhost:3001/getBucket"); // Update the API endpoint
          const data = await response.json();
          var options = '<option>None</option>';
          data.map((value)=>{
            options+= '<option value = "'+value._id+'">'+value.name+'</option>';
          })
          document.getElementById('bucketId').innerHTML = options;
          console.log(data)
      }
  );

  document.getElementById('bucketId2').addEventListener("change",
     async function (){
          const response = await fetch("http://localhost:3001/getBall"); // Update the API endpoint
          const data = await response.json();
          var options = '';
          data.map((value)=>{
            options+= '<option value = "'+value._id+'">'+value.name+'</option>';
          })
          document.getElementById('bucketId2').innerHTML = options;
          console.log(data)
      }
  );
  </script>